<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" *ngIf="success.code">
        {{ success.message }}
      </div>
      <form [formGroup]="speechForm" (submit)="submit()">
        <div class="col-md-12 form-group" [ngClass]="{ 'has-error': !speechForm.controls.message.valid && speechForm.controls.message.touched }">
          <textarea class="form-control" formControlName="message" rows="6" cols="50"></textarea>
        </div>
        <div class="col-md-4 form-group" [ngClass]="{ 'has-error': !speechForm.controls.author.valid && speechForm.controls.author.touched }">
          <input type="text" formControlName="author" class="form-control" placeholder="Author">
        </div>
        <div class="col-md-4 form-group" [ngClass]="{ 'has-error': !speechForm.controls.subject.valid && speechForm.controls.subject.touched }">
          <input type="text" formControlName="subject" class="form-control" placeholder="Subject">
        </div>
        <div class="col-md-4 form-group" [ngClass]="{ 'has-error': !speechForm.controls.date.valid && speechForm.controls.date.touched }">
          <input type="date" formControlName="date" class="form-control" placeholder="Input field">
        </div>
        <div class="submit-speech col-md-12 form-group">
          <button *ngIf="!loading" type="submit" class="btn btn-success" [disabled]="speechForm.invalid">Submit</button>
          <button *ngIf="loading" type="submit" class="btn btn-success" [disabled]="true">Submitting...</button>
        </div>
      </form>
    </div>
  </div>
</div>