<div class="container">
  <div class="row">
    <div *ngIf="!loading" class="loader-container col-md-12">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="col-md-12 no-data" *ngIf="loading && noData">
      <h1>NO DATA</h1>
      <h5>Please submit a new speech!</h5>
    </div>
    <div class="col-md-12 search-container" *ngIf="loading && !noData">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search by Politician">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
    <div class="col-md-12" *ngIf="loading">
      <div class="panel panel-default" *ngFor="let user of users | mySearchInfo: search">
        <div class="panel-heading">
          <div class="panel-title"> {{ user.name }}</div>
        </div>
        <ul class="list-group">
          <li role="button" class="list-group-item" *ngFor="let speech of user?.data">
            {{ speech.subject }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>