.panel-login {
   border-color: #ccc;
   -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   padding: 35px;

   .panel-heading {
      color: #00415d;
      background-color: #fff;
      border-color: #fff;
      text-align: center;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      padding-bottom: unset;

      .panel-title {
         font-size: 21px;
      }
   }
}