<!-- <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <div class="alert alert-danger" *ngIf="error.code">
            {{ error.message }}
          </div>
          <form [formGroup]="loginForm" [ngClass]="{ 'spinner': loading }" (submit)="login()">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email address" formControlName="email" autofocus>
              <app-validate-error [control]="loginForm.controls.email"></app-validate-error>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
              <app-validate-error [control]="loginForm.controls.password"></app-validate-error>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="loginForm.invalid">Sign
              in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="panel-title">SIGN IN</div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form [formGroup]="loginForm" [ngClass]="{ 'spinner': loading }" (submit)="login()">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email address" formControlName="email"
                    autofocus>
                  <app-validate-error [control]="loginForm.controls.email"></app-validate-error>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                  <app-validate-error [control]="loginForm.controls.password"></app-validate-error>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="loginForm.invalid">Sign
                  in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>