<div class="modal zoom" bsModal #shareModal="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document" id="login-modal">
    <div class="modal-content" [ngClass]="{ 'spinner': loading }">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideModal('shareModal')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Enter Email Address</h3>
      </div>

      <div *ngIf="shared" class="alert alert-success">
        <strong>Shared Successfully!</strong>
      </div>

      <form [formGroup]="shareForm" (submit)="share()">
        <div class="modal-body">
          <div class="form-group" [ngClass]="{ 'has-error': !shareForm.controls.email.valid && shareForm.controls.email.touched }">
            <label>Email *</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
        </div>

        <div class="modal-footer modal-footer-fixed">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-light" (click)="hideModal('shareModal')">Cancel</button>
            </div>
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-primary" [disabled]="loading || shareForm.invalid">OK</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>