<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          aria-controls="myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Speeches</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" [collapse]="!isCollapsed">
        <ul class="nav navbar-nav">
          <li role="button" [ngClass]="{'active': location.path() === '/account'}" [routerLink]="['/account/view']"
            routerLinkActive="active">
            <a class="nav-btn">View
              My Speeches
            </a>
          </li>
          <li role="button" [routerLink]="['/account/submit']" routerLinkActive="active">
            <a class="nav-btn">
              Submit A New Speech
            </a>
          </li>
          <li role="button" [routerLink]="['/account/search']" routerLinkActive="active"><a class="nav-btn">Search All
              Speeches</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li role="button" (click)="logout()"><a><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>