/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn:focus,
.btn:active {
   outline: none !important;
}

.no-data {
   text-align: center;
}

.spinner {
   position: relative;
}

.spinner:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -30px;
   border: 7px solid #3498db;
   border-radius: 50%;
   border-top: 7px solid #f2f2f2;
   width: 30px;
   height: 30px;
   -webkit-animation: spin 800ms linear infinite;
   /* Safari */
   animation: spin 800ms linear infinite;
}

.spinner:before {
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 99;
   background: #f2f2f2;
   opacity: 0.5;
}

@-moz-keyframes spin {
   from {
      -moz-transform: rotate(0deg);
   }

   to {
      -moz-transform: rotate(360deg);
   }
}

@-webkit-keyframes spin {
   from {
      -webkit-transform: rotate(0deg);
   }

   to {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

/* loader */
.loader-container {
   margin: 3rem 0;
   text-align: center;
}

.lds-spinner {
   color: official;
   display: inline-block;
   position: relative;
   width: 64px;
   height: 64px;
}

.lds-spinner div {
   transform-origin: 32px 32px;
   animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
   content: " ";
   display: block;
   position: absolute;
   top: 3px;
   left: 29px;
   width: 5px;
   height: 14px;
   border-radius: 20%;
   background: #000000;
}

.lds-spinner div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
   transform: rotate(30deg);
   animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
   transform: rotate(60deg);
   animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
   transform: rotate(90deg);
   animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
   transform: rotate(120deg);
   animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
   transform: rotate(150deg);
   animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
   transform: rotate(180deg);
   animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
   transform: rotate(210deg);
   animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
   transform: rotate(240deg);
   animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
   transform: rotate(270deg);
   animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
   transform: rotate(300deg);
   animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
   transform: rotate(330deg);
   animation-delay: 0s;
}

@keyframes lds-spinner {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}