<div class="container">
  <div class="row">
    <div *ngIf="!loading.data" class="loader-container col-md-4">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="col-md-4 no-data" *ngIf="loading.data && noData">
      <h1>NO DATA</h1>
      <h5>Please submit a new speech!</h5>
    </div>
    <div class="col-md-4" *ngIf="loading.data && !noData">
      <ul class="list-group">
        <li role="button" class="list-group-item" *ngFor="let speech of speeches" [ngClass]="{'active': speechSelected === speech}"
          (click)="selectItem(speech)">
          {{ speech.subject }}
          <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="alert alert-success" *ngIf="status.code">
        {{ status.message }}
      </div>
      <form [formGroup]="speechForm">
        <div class="col-md-12 form-group" [ngClass]="{ 'has-error': !speechForm.controls.message.valid && speechForm.controls.message.touched }">
          <textarea class="form-control" formControlName="message" rows="6" cols="50"></textarea>
        </div>
        <div class="col-md-4 form-group" [ngClass]="{ 'has-error': !speechForm.controls.author.valid && speechForm.controls.author.touched }">
          <input type="text" class="form-control" formControlName="author" placeholder="Author">
        </div>
        <div class="col-md-4 form-group" [ngClass]="{ 'has-error': !speechForm.controls.subject.valid && speechForm.controls.subject.touched }">
          <input type="text" class="form-control" formControlName="subject" placeholder="Subject">
        </div>
        <div class="col-md-4 form-group" [ngClass]="{ 'has-error': !speechForm.controls.date.valid && speechForm.controls.date.touched }">
          <input type="date" class="form-control" formControlName="date" placeholder="Input field">
        </div>
        <div class="buttons col-md-4 form-group">
          <button *ngIf="!loading.delete" type="button" class="btn btn-danger" (click)="delete()" [disabled]="!speechSelected">Delete</button>
          <button *ngIf="loading.delete" type="button" class="btn btn-danger" (click)="delete()" [disabled]="true">Deleting...</button>
        </div>
        <div class="buttons col-md-4 form-group">
          <button *ngIf="!loading.update" type="button" class="btn btn-success" (click)="update()" [disabled]="!speechSelected">Update</button>
          <button *ngIf="loading.update" type="button" class="btn btn-success" (click)="update()" [disabled]="true">Updating...</button>
        </div>
        <div class="buttons col-md-4 form-group">
          <button type="button" class="btn btn-primary" (click)="share()" [disabled]="!speechSelected">Share</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-share-modal #shareModal></app-share-modal>